{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "exclude": [
    "**/*.js",
    "coverage/**",
    "node_modules/**",
    "**/*.d.ts",
    "**/*_test.ts"
  ]
}

